$font-color-primary: #000;
$font-color-secondary: #000;
$font-color-tertiary: #000;

$main-color-primary: #000;
$main-color-secondary: #000;

$accent-color-primary: #000;
$accent-color-secondary: #000;

$success-color-primary: #000;
$success-color-secondary: #000;

$err-color-primary: #000;
$err-color-secondary: #000;